<h1>Play with your Tamagotchi!</h1>
<h2>@Model.GetName()</h2>
<h2>@Model.GetState()</h2>
<p>@Model.GetFood()</p>
<form action="/pet" method="post">
  <button type="button" id="feed-pet" name="feed-pet">Feed Pet</button>
</form>
